<nav>
  <div>
    <a href="{{ path('app_calculatrice_additionner', {
      x: x,
      y: y,
    }) }}">Additionner</a>
    <a href="{{ path('app_calculatrice_multiplier', {
      x: x,
      y: y,
    }) }}">Multiplier</a>
    <a href="{{ path('app_calculatrice_soustraire', {
      x: x,
      y: y,
    }) }}">Soustraire</a>
    <a href="{{ path('app_calculatrice_diviser', {
      x: x,
      y: y,
    }) }}">Diviser</a>
  </div>
</nav>
