<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calculatrice: Additionner</title>
  </head>
  <body>
    <h1>Additionner</h1>
    <p>{{ x }} + {{ y }} = {{ resultat }}</p>
  </body>
</html>
