{% extends 'base.html.twig' %}

{% block title %}Calculatrice - Addition{% endblock %}

{% block body %}

<a href="{{ path('app_calculatrice_multiplier', {
  'x': x,
  'y': y,
}) }}">Lien vers la multiplication</a>

<h1>{{ x }} + {{ y }} = {{ resultat }}</h1>

{% endblock %}
