{% extends 'base.html.twig' %}

{% block title %}
    Calculatrice - additionner
{% endblock %}

{% block body %}
    <h1>Calculatrice : Additionner</h1>
    <p>
        Le résultat de {{ x }} + {{ y }} = {{ total }}
    </p>
{% endblock %}
