{% extends 'base.html.twig' %}

{% block body %}
    <h1>Additionner</h1>
    <p>
        Le résultat de {{ firstNumber }} + {{ secondNumber }} = {{ total }}
    </p>
    <p>
        <a href="{{ path('app_calculatrice_index') }}">Retour</a>
    </p>
{% endblock %}
