<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calculatrice: Division</title>
  </head>
  <body>
    <h1>Diviser</h1>
    <p>{{ x }} / {{ y }} = {{ resultat }}</p>
  </body>
</html>
