{% extends 'base.html.twig' %}

{% block title %}
    Calculatrice - diviser
{% endblock %}

{% block body %}
    <h1>Calculatrice : Diviser</h1>
    <p>
        Le résultat de {{ x }} / {{ y }} = {{ total }}
    </p>
{% endblock %}
