{% extends 'base.html.twig' %}

{% block body %}
    <h1>Diviser</h1>

    {% if error %}
        <p>{{ error }}</p>
    {% else %}
        <p>
            Le résultat de {{ x }} / {{ y }} = {{ total }}
        </p>
    {% endif %}
{% endblock %}
