<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calculatrice: Erreur</title>
  </head>
  <body>
    <h1>Erreur</h1>
    <p>Vous n'avez spécifié d'opération</p>
  </body>
</html>
