{% extends 'base.html.twig' %}

{% block body %}
    <h1>Calculatrice</h1>

    <form method="POST">
        <label for="x">Premier nombre</label>
        <input type="number" name="x" id="x" />
        <label for="y">Second nombre</label>
        <input type="number" name="y" id="y" />

        <label for="operation">Opération</label>
        <select id="operation" name="operation">
            <option value="addition">+</option>
            <option value="soustraction">-</option>
            <option value="division">/</option>
            <option value="multiplication">*</option>
        </select>

        <button type="submit">Calculer</button>
    </form>
{% endblock %}
