{% extends 'base.html.twig' %}

{% block title %}Calculatrice{% endblock %}

{% block body %}
<h1>Calculatrice</h1>

<form method="POST">
    <label for="x">Premier nombre :</label>
    <input type="number" name="x" id="x" />

    <label for="operation">Opération :</label>
    <select name="operation">
        <option value="additionner">+</option>
        <option value="soustraire">-</option>
        <option value="multiplier">*</option>
        <option value="diviser">/</option>
        <option value="modulo">%</option>
        <option value="puissance">**</option>
        <option value="racineCarre">racine carré</option>
    </select>

    <label for="y">Deuxième nombre :</label>
    <input type="number" name="y" id="y" />

    <button type="submit">Calculer</button>
</form>
{% endblock %}
