{% extends 'base.html.twig' %}

{% block title %}
    Calculatrice - modulo
{% endblock %}

{% block body %}
    <h1>Calculatrice : Modulo</h1>
    <p>
        Le résultat de {{ x }} % {{ y }} = {{ total }}
    </p>
{% endblock %}
