{% extends 'base.html.twig' %}

{% block title %}
    Calculatrice - multiplier
{% endblock %}

{% block body %}
    <h1>Calculatrice : Multiplier</h1>
    <p>
        Le résultat de {{ x }} * {{ y }} = {{ total }}
    </p>
{% endblock %}
