<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calculatrice: Multiplication</title>
  </head>
  <body>
    <h1>Multiplier</h1>
    <p>{{ x }} * {{ y }} = {{ resultat }}</p>
  </body>
</html>
