{% extends 'base.html.twig' %}

{% block title %}
    Calculatrice - puissance
{% endblock %}

{% block body %}
    <h1>Calculatrice : Puissance</h1>
    <p>
        Le résultat de {{ x }} ** {{ y }} = {{ total }}
    </p>
{% endblock %}
