{% extends 'base.html.twig' %}

{% block title %}
    Calculatrice - puissance
{% endblock %}

{% block body %}
    <h1>Calculatrice : Puissance</h1>
    <p>Résulat</p>
    <math>
        <mrow>
            <mi>x</mi><mo>^</mo><mi>y</mi>
        </mrow>
        <mo>=</mo>
        <mrow>
            <mi>{{ x }}</mi><mo>^</mo><mi>{{ y }}</mi>
        </mrow>
        <mo>=</mo>
        <mi>{{ total }}</mi>
    </math>
{% endblock %}
