<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calculatrice: Soustraction</title>
  </head>
  <body>
    <h1>Soustraire</h1>
    <p>{{ x }} - {{ y }} = {{ resultat }}</p>
  </body>
</html>
