{% extends 'admin/base.html.twig' %}

{% block page_title %}
	Creer un auteur
{% endblock %}

{% block content %}
	<p>
		<a href="{{ path('app_author_list') }}">Retour à la liste des auteurs</a>
	</p>

	<form method="POST">
		<div>
			<input name="name" type="text" placeholder="Nom de l'auteur ..."/>
		</div>
		<div>
			<textarea name="description" placeholder="Description de l'auteur ..."></textarea>
		</div>
		<div>
			<input name="image" type="text" placeholder="Url de l'image ..."/>
		</div>
		<div>
			<button type="submit">Envoyer</button>
		</div>
	</form>
{% endblock %}
