{% extends 'public.html.twig' %}

{% block subtitle %}Confirmation de paiement{% endblock %}

{% block main %}
<h1>Merci pour votre achat !</h1>
<p>Un email de confirmation vous as été envoyé ! Vous recevrez vos livres sous peu !</p>
<div class="btn-group">
  <a href="{{ path('app_home_home') }}" class="btn success">
    Retour à l'accueil
  </a>
</div>
{% endblock %}
