{% extends 'front/base.html.twig' %}

{% block content %}
  <h1>Mon Panier</h1>

  {% if app.user.basket.books.count() == 0 %}
    <p>Votre panier est vide</p>
  {% else %}
    {% for book in app.user.basket.books %}
      <p>
        {{ book.title }} : {{ book.price }} €
        <a href="{{ path('app_security_removeBasket', {id: book.id}) }}">
          Supprimer du panier
        </a>
      </p>
    {% endfor %}

    <p>Total : {{ app.user.basket.total }} €</p>

    <a href="https://buy.stripe.com/test_9AQ2btaxsc8W3Ic9AA">Payer</a>
  {% endif %}
{% endblock %}
