{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<h1>Nos derniers livres</h1>

	{% for book in books %}
		<div>
			<p>{{ book.title }}</p>
		</div>
	{% endfor %}

	<h2>Nos derniers auteurs</h2>

	{% for author in authors %}
		<div>
			<p>{{ author.title }}</p>
		</div>
	{% endfor %}

	<h2>Nos dernières maisons d'édition</h2>

	{% for pubHouse in pubHouses %}
		<div>
			<p>{{ pubHouse.title }}</p>
		</div>
	{% endfor %}

{% endblock %}
