{% extends 'base.html.twig' %}

{% block title %}Rechercher
{% endblock %}

{% block body %}

	<h1>Rechercher</h1>

	{{ form(form) }}

		<ul>
			{% for book in books %}
				<li>{{ book.title }}</li>
			{% endfor %}
		</ul>

	{% endblock %}
