{% extends 'base.html.twig' %}

{% block body %}

<div class="hero">
  <div class="hero-container">
    <header class="header"></header>
    <h1>PizzaShop</h1>
    <p class="subtitle">Vos meilleurs pizza à porté de click !</p>
  </div> 
</div>

<div class="content">

  <div class="content-center">
    <h1>Nos Pizzas</h1>

    {% for pizza in pizzas %}

      <div class="pizza-thumb">
        {{  pizza.title }}
      </div>

    {% endfor %}
  </div>

</div>

<footer></footer>

{% endblock %}
