{% extends 'base.html.twig' %}

{% block title %}Admin Book -
	{% block subTitle %}Création d'un livre
	{% endblock %}
{% endblock %}

{% block body %}
	<h1>
		{% block pageTitle %}Créer un nouveau livre
		{% endblock %}
	</h1>

	<p>
		<a href="{{ path('app_admin_book_list') }}">Retour</a>
	</p>


	{{ form(form) }}{% endblock %}
