/*
 * Style Générale
 *
 * Tout le styles des balises nu (sans classe, sans id) ainse
 * que les variables css
 */
:root {
  --color-platinium: #f0f0f0;
  --color-gray: #dddddd;
  --color-grey: #acacac;
  --color-black: #3F403F;
  --color-black-90: #4e504e;
  --color-black-70: #707470;
  --color-cafe: #2b1b0f;
  --color-red: #964343;
  --color-green: #328136;
  --font-size: 18px;
  --font-default: 'Noto Sans', sans-serif;
  --font-fantasy: 'Lobster', sans-serif;
  --mg-none: 0;
  --mg-small: .6rem;
  --mg-medium: 1rem;
  --mg-large: 1.8rem;
  --content-size: 1024px;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  background-color: var(--color-platinium);
  color: var(--color-black);
  font-family: var(--font-default);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  min-height: 100vh;
  min-width: 100vw;
}

* {
  box-sizing: border-box;
}

.ft-fantasy {
  font-family: var(--font-fantasy);
}

/*
 * Le Layout
 *
 * Concerne la disposition générale de la page
 */
.top-bar {
  background-color: var(--color-cafe);
  color: var(--color-platinium);
  padding: var(--mg-medium);
  display: flex;
  align-items: center;
}

.content, .centered-content {
  display: flex;
  flex-grow: 2;
}

.hero-unit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-gray);
  padding: var(--mg-large);
  color: var(--color-black-90);
  padding: 10em 0;
}
.hero-unit .title {
  font-family: var(--font-fantasy);
  font-size: 4em;
  text-align: center;
  font-weight: normal;
  padding: 0;
  margin: var(--mg-small) 0;
}
.hero-unit .subtitle {
  font-size: .8em;
  margin: 0;
  font-style: italic;
}

.centered-content {
  justify-content: center;
}

.public-content {
  display: flex;
  flex-direction: column;
  width: var(--content-size);
  border-left: 1px solid var(--color-gray);
  border-right: 1px solid var(--color-gray);
  padding: 0 var(--mg-medium);
}

footer.footer {
  background-color: var(--color-black);
  color: var(--color-platinium);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--mg-large);
}

.sidebar {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: var(--color-platinium);
  flex-basis: 280px;
}

.page-content {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 var(--mg-medium);
}

/*
 * La top bar
 *
 * Contient toutes les classes pour la top bar !
 */
.logo {
  font-family: var(--font-fantasy);  
  font-size: 2em;
  padding: var(--mg-small);
  margin: var(--mg-none);
}

.grey-top-bar {
  background-color: var(--color-gray);
  color: var(--color-black-90);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 10;
}
.grey-top-bar .centered {
  width: var(--content-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grey-top-bar .menu {
  display: flex;
  align-items: center;
}
.grey-top-bar .menu p {
  margin: 0;
  padding: 0;
}
.grey-top-bar .menu p a {
  display: flex;
  padding: var(--mg-large) var(--mg-small);
  text-decoration: none;
  cursor: pointer;
  transition: all .25s;
  color: var(--color-black-90);
}
.grey-top-bar .menu p a:hover {
  background-color: var(--color-black-90);
  color: var(--color-gray);
}
.grey-top-bar .search {
  display: flex;
  align-items: center;
  transition: all .5s;
}
.grey-top-bar .search input {
  border: none;
  padding: var(--mg-small) 0;
  outline: none;
  transition: all .5s;
  max-width: 0;
}
.grey-top-bar .search input:focus {
  border: none;
  outline: none;
}
.grey-top-bar .search label {
  font-size: 1.5rem;
  padding-right: var(--mg-medium);
}
.grey-top-bar .search:hover input {
  max-width: none;
  padding: var(--mg-small);
}

/*
 * La sidebar
 *
 * Contient toutes les class css de la sidebar
 */
.vertical-menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-bottom: 1px solid var(--color-black-90);
}

.vertical-menu .title {
  display: flex;
  align-items: center;
  padding: var(--mg-small);
  cursor: pointer;
  transition: all .25s;
  font-family: var(--font-fantasy);
  font-size: 1.4rem;
}
.vertical-menu .title .label {
  margin: 0;
}
.vertical-menu .title:hover {
  background-color: var(--color-platinium);
  color: var(--color-black);
}
.vertical-menu .title .icon {
  margin: var(--mg-small);
  margin-left: 0;
}
.vertical-menu .title .direction {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  padding: var(--mg-small);
}
.vertical-menu .title .direction.up {
  display: none;
}
.vertical-menu.open .title .direction.down {
  display: none;
}
.vertical-menu.open .title .direction.up {
  display: flex;
}

.vertical-menu .menu {
  list-style: none;
  margin: var(--mg-none);
  padding: var(--mg-none);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--color-black-90);
  transition: all .25s;
  max-height: 0;
  overflow: hidden;
}
.vertical-menu.open .menu {
  max-height: 1500px;
}
.vertical-menu .menu li {
  margin: var(--mg-none);
  padding: var(--mg-none);
  display: flex;
}
.vertical-menu .menu li a {
  display: flex;
  align-items: center;
  color: var(--color-platinium);
  text-decoration: none;
  cursor: pointer;
  padding: var(--mg-small);
  transition: all .25s;
  width: 100%;
}
.vertical-menu .menu li a:hover {
  background-color: var(--color-cafe);
}
.vertical-menu .menu li a i {
  margin: var(--mg-small);
}

/*
 * La table
 *
 * Contient le design de la table
 */
.table {
  border-collapse: collapse;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .6);
}
.table th:nth-child(2n + 0) {
  background-color: var(--color-black-90);
  color: var(--color-platinium);
}
.table th:nth-child(2n + 1) {
  background-color: var(--color-cafe);
  color: var(--color-platinium);
}

.table th {
  padding: var(--mg-small);
  text-align: center;
}

.table tr:nth-child(2n + 0) {
  background-color: var(--color-gray);
}

.table td {
  text-align: center;
}

.table td.action a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-black);
}

.table td.action a i {
  font-size: 1.4rem;
  padding: var(--mg-small);
}

.table td.action a.update {
  color: var(--color-green);
}

.table td.action a.delete {
  color: var(--color-red);
}

/*
 * Les boutons
 *
 * Contient le style css de nos boutons
 */

.btn-group {
  display: flex;
  margin: var(--mg-medium) 0;
}

.btn {
  padding: var(--mg-small) var(--mg-medium);
  padding-left: 0;
  text-align: center;
  display: flex;
  background-color: var(--color-black-90);
  background-color: var(--color-gray);
  border-radius: 5px;
  align-items: center;
  text-decoration: none;
  color: var(--color-black);
  font-weight: bold;
  cursor: pointer;
  border: 1px solid var(--color-grey);
  font-size: 1em;
}
.btn.success {
  background-color: var(--color-green);
  color: var(--color-platinium);
}
.btn.error {
  background-color: var(--color-red);
  color: var(--color-platinium);
}
.btn i {
  padding: 0 var(--mg-small);
}

/**
 * Les block listes
 */
.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book-block {
  display: flex;
  flex-direction: column;
  flex-basis: 31%;
  align-items: stretch;
  padding: var(--mg-small);
  border-right: none;
  border-bottom: 1px solid var(--color-gray);
  margin: var(--mg-small);
}

.book-block .background-image {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.book-block .background-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.book-block .title {
  font-weight: bold;
}

.book-block .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-block .footer .author {
  color: var(--color-black-70);
  font-style: italic;
  font-size: .8em;
}

.book-block .footer .price {
  padding: var(--mg-medium);
  border-radius: 2px;
  font-family: var(--font-fantasy);
  font-size: 1.5rem;
}

.book-block .btn-group {
  justify-content: center;
  align-items: center;
}

.book-block .btn-group .btn {
  border: none;
  padding: var(--mg-medium) var(--mg-large);
  border-radius: 0;
  flex-basis: 100%; 
  text-align: center;
  justify-content: center;
  transition: all .25s;

}
.book-block .btn-group .btn i {
  padding-left: 0;
}

.book-block .btn-group .btn:hover {
  background: var(--color-black-90);
  color: var(--color-gray);
}
