{% extends 'admin/base.html.twig' %}

{% block page_title %}
	Modifier une catégorie
{% endblock %}

{% block content %}
	<p>
		<a href="{{ path('app_category_list') }}">Retour à la liste des catégories</a>
	</p>

	<form method="POST">
		<div>
			<input name="name" type="text" value="{{ category.name }}"/>
		</div>
		<div>
			<button type="submit">Envoyer</button>
		</div>
	</form>
{% endblock %}
