{% extends 'front.html.twig' %}

{% block main %}

<h1>Refus de paiement</h1>

<p>
  Nous somme vraiment désolé mais votre offre n'as pas pu être validé,
  veuillez reesayer à nouveau.
</p>

{% endblock %}
