{% extends 'front.html.twig' %}

{% block main %}

<h1>Merci {{ app.user.firstname }} {{ app.user.lastname }} !</h1>

<p>
Nous avons bien enregistré votre offre. Nous renviendrons vers vous le plus
vite possible
</p>

{% endblock %}
