{% extends 'base.html.twig' %}

{% block content %}
  <h1>Erreur de paiment</h1>

  <p>
    Une erreur est survenu durant le paiement, nous ne pouvons
    donné suite à votre demande.
  </p>
{% endblock %}
