{% extends 'base.html.twig' %}

{% block title %}Liste des pizzas{% endblock %}

{% block body %}
<h1>Liste des pizzas</h1>

<p>
    <a href="{{ path('app_pizza_newPizza') }}">Créer une pizza</a>
</p>

<ul>
    {% for pizza in pizzas %}
        {# pizza.getName() #}
        <li>
            #{{ pizza.id }}
            {{ pizza.name }} ({{ pizza.price }} €)
        </li>
    {% endfor %}
</ul>
{% endblock %}
