{% extends 'base.html.twig' %}

{% block title %}Nouvelle Pizza{% endblock %}

{% block body %}
    <h1>Nouvelle Pizza</h1>
    
    <form method="POST">
        <label for="name">Nom :</label>
        <input type="text" id="name" name="name" />

        <label for="price">Prix :</label>
        <input type="number" id="price" name="price" step="0.01" />

        <label for="description">Description :</label>
        <textarea id="description" name="description"></textarea>

        <label for="imageUrl">URL de l'image :</label>
        <input type="url" id="imageUrl" name="imageUrl" />

        <button type="submit">Créer la pizza</button>
    </form>
{% endblock %}
