{% extends 'base.html.twig' %}

{% block title %}New Ingredient{% endblock %}

{% block body %}
    <h1>Create new Ingredient</h1>

    {{ include('admin/ingredient/_form.html.twig') }}

    <a href="{{ path('admin_ingredient_index') }}">back to list</a>
{% endblock %}
