<a class="menu-item" href="{{ path('app_book_list') }}">
	Liste des livres
</a>

<a class="menu-item" href="{{ path('app_author_list') }}">
	Liste des auteurs
</a>

<a class="menu-item" href="{{ path('app_category_list') }}">
	Liste des catégories
</a>
