{% extends 'base.html.twig' %}

{% block body %}
	<header>
		{{ include('admin/_menu.html.twig') }}
	</header>

	<h1>
		{% block page_title %}{% endblock %}
	</h1>

	{% block content %}{% endblock %}

{% endblock %}
