{% extends 'admin/base.html.twig' %}

{% block page_title %}
	Creer un livre
{% endblock %}

{% block content %}
	<p>
		<a href="{{ path('app_book_list') }}">Retour à la liste des livres</a>
	</p>

	<form method="POST">
		<div>
			<input name="title" type="text" placeholder="Titre du livre ..."/>
		</div>
		<div>
			<input name="price" type="number" placeholder="Prix du livre ..."/>
		</div>
		<div>
			<textarea name="description" placeholder="Description du livre ..."></textarea>
		</div>
		<div>
			<button type="submit">Envoyer</button>
		</div>
	</form>
{% endblock %}
