{% extends 'admin/base.html.twig' %}

{% block page_title %}
	Modifier un livre
{% endblock %}

{% block content %}
	<p>
		<a href="{{ path('app_book_list') }}">Retour à la liste des livres</a>
	</p>

	<form method="POST">
		<div>
			<input name="title" type="text" value="{{ book.title }}"/>
		</div>
		<div>
			<input name="price" type="number" value="{{ book.price }}"/>
		</div>
		<div>
			<textarea name="description">{{ book.description }}</textarea>
		</div>
		<div>
			<button type="submit">Envoyer</button>
		</div>
	</form>
{% endblock %}
