{% extends 'admin.html.twig' %}

{% block subtitle 'Nouvel utilisateur' %}

{% block main %}
  <div class="wrapper">
    <h1>Nouvel Utilisateur</h1>

    <div class="btn-group">
      <a href="{{ path('app_adminUser_list') }}" class="btn">
        <i class="fa-solid fa-arrow-left"></i>
        Retour à la liste
      </a>
    </div>

    {{ form(form) }}
  </div>
{% endblock %}
