{% extends 'admin.html.twig' %}

{% block subtitle %}Nouvelle Adresse{% endblock %}

{% block main %}

<div class="wrapper">
  <h1>{% block pageTitle %}Nouvelle Adresse{% endblock %}</h1>

  <div class="btn-group">
    <a class="btn" href="{{ path('app_adminAddress_list') }}">
      <i class="fa-solid fa-arrow-left"></i>
      Revenir à la liste
    </a>
  </div>

  {{ form(form) }}
</div>
{% endblock %}
