{% extends 'base.html.twig' %}

{% block title %}
  PizzaShop - {% block sub_title '' %}
{% endblock %}

{% block body %}
  <header></header>

  <div class="container">
    {% block content '' %}
  </div>

  <footer></footer>
{% endblock %}
