{% extends 'base.html.twig' %}

{% block title %}LookBook Admin - Nouveau Livre{% endblock %}

{% block body %}

<div class="wrapper">
  <h1>{% block pageTitle %}Nouveau Livre{% endblock %}</h1>

  <div class="btn-group">
    <a class="btn" href="{{ path('app_adminBook_list') }}">
      <i class="fa-solid fa-arrow-left"></i>
      Revenir à la liste
    </a>
  </div>

  <form method="POST">
    <div>
      <input type="text" name="title" placeholder="Titre du livre" value="{% block bookTitleValue '' %}" />
    </div>
    <div>
      <textarea name="description" placeholder="Description du livre">{% block bookDescriptionValue '' %}</textarea>
    </div>
    <div>
      <input type="text" name="genre" placeholder="Genre du livre" value="{% block bookGenreValue '' %}"/>
    </div>
    <div class="btn-group">
      <button class="btn success" type="submit">
        <i class="fa-regular fa-paper-plane"></i>
        Envoyer
      </button>
    </div>
  </form>
</div>
{% endblock %}
