<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="/style.css" />
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a href="{{ path('app_front_home_home') }}">Accueil</a>
            </nav>

            {% if app.user %}
                <nav>
                    <div>Bienvenue {{ app.user.email }}</div>
                </nav>
            {% endif %}

            <nav>
                {% if app.user %}
                    <a href="{{ path('app_logout') }}">Se déconnecter</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Se Connecter</a>
                {% endif %}
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
