<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link
		rel="stylesheet" href="/css/style.css"/>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>
		<header class="header">
			<div class="logo">
				<p>BookSell</p>

				<form method="GET" action="{{ path('app_home_search') }}">
					<input type="search" name="title" placeholder="Rechercher ..."/>
					<button type="submit">Rechercher</button>
				</form>
			</div>
		</header>

		<div class="container">
			{% block body '' %}
		</div>

		<footer class="footer">
			<p>BookSell - Copyright 2023</p>
		</footer>
	</body>
</html>
