<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
          <link rel="stylesheet" href="/style.css" />
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
      <header class="header">
        <div class="header-left">
          <a href="">
            <i class="fa-solid fa-house"></i>
          </a>
        </div>
        <div class="header-right">
          <a href="">
            <i class="fa-solid fa-basket-shopping"></i>
          </a>
          <a href="">
            <i class="fa-solid fa-user"></i>
          </a>
        </div>
      </header>

      {% block hero '' %}

      <div class="content">
        <div class="content-center">
          {% block content '' %}
        </div>
      </div>

      <footer>
        <div class="content">
          <div class="content-center">
            <div class="logo">
              <p>PizzaShop</p>
            </div>
            <nav class="menu">
              <h3>Plan du site</h3>
              <a href="">Accueil</a>
              <a href="">Accueil</a>
              <a href="">Accueil</a>
              <a href="">Accueil</a>
              <a href="">Accueil</a>
            </nav>
          </div>
        </div>
      </footer>
    </body>
</html>
