<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="/logo.svg">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        {% block stylesheets %}
          <link rel="stylesheet" href="/style.css">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <header class="header {% block header_class '' %}">
          <nav class="navbar">
            {% block navbar '' %}
          </nav>

          {% block hero '' %}
        </header>

        <div class="container">
          {% block body %}{% endblock %}
        </div>

        <footer class="footer">
          <div class="container">
            <div class="logo">
              <p>PizzaShop</p>
            </div>
            <nav class="nav">
              <h4>Plan du site :</h4>
              <p>
                <a href="">Accueil</a>
              </p>
              <p>
                <a href="">Accueil</a>
              </p>
              <p>
                <a href="">Accueil</a>
              </p>
              <p>
                <a href="">Accueil</a>
              </p>
              <p>
                <a href="">Accueil</a>
              </p>
            </nav>
          </div>
        </footer>
    </body>
</html>
