{% extends 'base.html.twig' %}

{#
  Template de base pour l'intégralité de l'espace « frontend »,
  soit l'éspace publique de l'application.
#}

{% block body %}
  <main>
    {% block main '' %}
  </main>
{% endblock %}
