{% extends 'base.html.twig' %}

{% block title %}
  LookBook - {% block subtitle '' %}
{% endblock %}

{% block body %}
  {% block heroUnit '' %}
  {% block header %}
    <header class="grey-top-bar">
      <div class="centered">
        <nav class="menu">
          <p>
            <a href="{{ path('app_home_home') }}">Accueil</a>
          </p>
          <p>
            <a href="{{ path('app_home_search') }}">Rechercher</a>
          </p>
          <p>
            <a href="">Les Nouveautés</a>
          </p>
        </nav>
        <form class="search" method="GET" action="{{ path('app_home_search') }}">
          <label for="search-input">
          <i class="fa-solid fa-magnifying-glass"></i>
          </label>
          <input type="text" name="searchText" class="search-input" id="search-input" />
        </div>
      </div>
    </header>
  {% endblock %}

  <div class="centered-content">
    <main class="public-content">
      {% block main '' %}
    </main>
  </div>

  <footer class="footer">
    <p>LookBook - Copyright 2022</p>
  </footer>
{% endblock %}
