{% extends 'base.html.twig' %}

{% block title %}
  Admin - {% block subTitle %}Créer un auteur{% endblock %}{% endblock %}

{% block body %}

<h1>
  {% block pageTitle %}
    Créer un auteur
  {% endblock %} 
</h1>

<p>
  <a href="{{ path('app_admin_author_list') }}">Retour à la liste</a>
</p>

{{ form(form) }}

{% endblock %}
