{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% block pageTitle %}Création d'un nouveau livre{% endblock %}</h1>

    <nav>
        <a href="{{ path('app_admin_book_list') }}">Retour à la liste</a>
    </nav>

    <form method="post">
        <div>
            <label for="title">Titre du livre :</label>
            <input type="text" id="title" name="title" value="{% block titleValue '' %}" />
        </div>

        <div>
            <label for="price">Prix du livre :</label>
            <input type="money" id="price" name="price" value="{% block priceValue ''  %}" />
        </div>

        <div>
            <label for="description">Description du livre :</label>
            <textarea id="description" name="description">{% block descriptionValue '' %}</textarea>
        </div>

        <div>
            <label for="imageUrl">URL de l'image du livre :</label>
            <input type="text" name="imageUrl" id="imageUrl" value="{% block imageUrlValue '' %}" />
        </div>

        <button type="submit">Envoyer</button>
    </form>
{% endblock %}
