{% extends 'base.html.twig' %}

{% block body %}
<h1>{% block page_title 'Nouveau Livre' %}</h1>

<p>
	<a href="{{ path('app_admin_book_list') }}">Retour à la liste</a>
</p>

{{ form_start(form) }}
	{{ form_rest(form)}}

	<button type="submit">{% block button_label 'Créez' %}</button>

{{ form_end(form)}}

{% endblock %}
