{% extends 'admin/base.html.twig' %}

{% block sub_title 'Nouvelle Pizza' %}

{% block body %}
<h1>{% block page_title 'Nouvelle Pizza' %}</h1>

<p>
  <a href="{{ path('app_admin_pizza_retrieve') }}">
    <i class="fa-solid fa-circle-arrow-left"></i>
    Retour à la liste
  </a>
</p>

{{ form_start(form) }}


{{ form_rest(form) }}

<div class="btn-group">
  <button type="submit" class="btn">
    <i class="fa-solid fa-paper-plane"></i>
    Envoyer
  </button>
</div>


{{ form_end(form) }}
{% endblock %}
