{% extends 'admin/base.html.twig' %}

{% block sub_title %}
	Créez un livre
{% endblock %}

{% block page_title %}
	Créez un livre
{% endblock %}

{% block content %}

<div>
	<a class="button" href="{{ path('app_admin_bookAdmin_retrieve') }}">
		Retour
		<i class="fa-solid fa-arrow-left"></i>
	</a>
</div>

{{ form(formView) }}

{% endblock %}
